<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Tareas</h1>        
        </div>
        <div class="card-body">
            {{#if contactos }} 
            <p>Contactos</p>
            {{ else }}
            <p>Sin contactos</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="api/contact" method="POST">
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="firstname" placeholder="Firstname">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Lastname">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="phone" placeholder="Phone">
                </div>
                <button class="btn btn-primary btn-block">Send</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Notas</h1>        
        </div>
        <div class="card-body">
    
        </div>
        <div class="card-footer">
            <form action="api/nota" method="POST">
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="titulo" placeholder="titulo">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="descripcion" placeholder="descripción">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="autor" placeholder="autor">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="categoria" placeholder="categoria">
                </div>
                <button class="btn btn-primary btn-block">Send</button>
            </form>
        </div>
    </div>
</div>